<mat-card>
    <mat-card-header>
        <mat-card-title>Cadastro de Animal</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="form" fxLayout="column">
            <mat-form-field>
                <input matInput placeholder="Código" formControlName="codigo" type="text">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Tíulo" formControlName="titulo" type="text">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Raça" formControlName="raca" type="text">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Descricao" formControlName="text" type="text">
            </mat-form-field>
        </form>
    </mat-card-content>
    <mat-card-actions align="end">
        <button mat-raised-button (click)="salvar()">Salvar</button>
    </mat-card-actions>
</mat-card>