<div>
    <mat-toolbar color="primary">
      <span>Daily Pet</span>
      <button mat-button [matMenuTriggerFor]="menu">Usuário</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="usuario/cadastro">Cadastro</button>
        <button mat-menu-item routerLink="usuario/pesquisa">Pesquisa</button>
      </mat-menu>
      <button mat-button [matMenuTriggerFor]="menuAnimal">Animal</button>
      <mat-menu #menuAnimal="matMenu">
        <button mat-menu-item routerLink="animal/cadastro">Cadastro</button>
        <button mat-menu-item routerLink="animal/pesquisa">Pesquisa</button>
      </mat-menu>
      <button mat-button [matMenuTriggerFor]="menuOng">Ong</button>
      <mat-menu #menuOng="matMenu">
        <button mat-menu-item routerLink="ong/cadastro">Cadastro</button>
        <button mat-menu-item routerLink="ong/pesquisa">Pesquisa</button>
      </mat-menu>
      <button mat-button [matMenuTriggerFor]="menuOrganizacao">Organizacao</button>
      <mat-menu #menuOrganizacao="matMenu">
        <button mat-menu-item routerLink="organizacao/cadastro">Cadastro</button>
        <button mat-menu-item routerLink="organizacao/pesquisa">Pesquisa</button>
      </mat-menu>
    </mat-toolbar>
    <div class="Onginer">
        <router-outlet></router-outlet>
    </div>
  </div>